<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fonts</key>
	<array>
		<dict>
			<key>FontInfo</key>
			<array>
				<dict>
					<key>SystemFont</key>
					<true/>
					<key>FontName</key>
					<string>Museo Sans Rounded</string>
					<key>BoldContentFontPostScriptName</key>
					<string>MuseoSansRounded-500</string>
					<key>ContentFontPostScriptName</key>
					<string>MuseoSansRounded-300</string>
					<key>ImageName</key>
					<string>img-font-museo-sans-rounded</string>
					<key>Selected</key>
					<true/>
					<key>Download</key>
					<true/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<true/>
					<key>FontName</key>
					<string>Avenir Next</string>
					<key>BoldContentFontPostScriptName</key>
					<string>AvenirNext-Bold</string>
					<key>ContentFontPostScriptName</key>
					<string>AvenirNext-Regular</string>
					<key>ImageName</key>
					<string>img-font-avenir-next</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<true/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<true/>
					<key>FontName</key>
					<string>Helvetica Neue</string>
					<key>BoldContentFontPostScriptName</key>
					<string>HelveticaNeue-Bold</string>
					<key>ContentFontPostScriptName</key>
					<string>HelveticaNeue</string>
					<key>ImageName</key>
					<string>img-font-helvetica-neue</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<true/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<true/>
					<key>FontName</key>
					<string>Courier</string>
					<key>BoldContentFontPostScriptName</key>
					<string>Courier-Bold</string>
					<key>ContentFontPostScriptName</key>
					<string>Courier</string>
					<key>ImageName</key>
					<string>img-font-courier</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<true/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<true/>
					<key>FontName</key>
					<string>Georgia</string>
					<key>BoldContentFontPostScriptName</key>
					<string>Georgia-Bold</string>
					<key>ContentFontPostScriptName</key>
					<string>Georgia</string>
					<key>ImageName</key>
					<string>img-font-georgia</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<true/>
				</dict>
			</array>
			<key>FontType</key>
			<string>English</string>
		</dict>
		<dict>
			<key>FontInfo</key>
			<array>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>Lantinghei SC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>FZLTZHK--GBK1-0</string>
					<key>ContentFontPostScriptName</key>
					<string>FZLTXHK--GBK1-0</string>
					<key>ImageName</key>
					<string>img-font-sc-lantinghei</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>Kaiti SC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>STKaiti-SC-Bold</string>
					<key>ContentFontPostScriptName</key>
					<string>STKaiti-SC-Regular</string>
					<key>ImageName</key>
					<string>img-font-sc-kaiti</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>Songti SC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>STSongti-SC-Bold</string>
					<key>ContentFontPostScriptName</key>
					<string>STSongti-SC-Regular</string>
					<key>ImageName</key>
					<string>img-font-sc-songti</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>Hannotate SC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>HannotateSC-W7</string>
					<key>ContentFontPostScriptName</key>
					<string>HannotateSC-W5</string>
					<key>ImageName</key>
					<string>img-font-sc-hannotate</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>HanziPen SC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>HanziPenSC-W5</string>
					<key>ContentFontPostScriptName</key>
					<string>HanziPenSC-W3</string>
					<key>ImageName</key>
					<string>img-font-sc-hanziPen</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
			</array>
			<key>FontType</key>
			<string>Simplified Chinese</string>
		</dict>
		<dict>
			<key>FontInfo</key>
			<array>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>Lantinghei TC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>FZLTZHB--B51-0</string>
					<key>ContentFontPostScriptName</key>
					<string>FZLTXHB--B51-0</string>
					<key>ImageName</key>
					<string>img-font-tc-lantinghei</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>Kaiti TC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>STKaiTi-TC-Bold</string>
					<key>ContentFontPostScriptName</key>
					<string>STKaiTi-TC-Regular</string>
					<key>ImageName</key>
					<string>img-font-tc-kaiti</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>Songti TC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>STSongti-TC-Bold</string>
					<key>ContentFontPostScriptName</key>
					<string>STSongti-TC-Regular</string>
					<key>ImageName</key>
					<string>img-font-tc-songti</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>Hannotate TC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>HannotateTC-W7</string>
					<key>ContentFontPostScriptName</key>
					<string>HannotateTC-W5</string>
					<key>ImageName</key>
					<string>img-font-tc-hannotate</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<false/>
					<key>FontName</key>
					<string>HanziPen TC</string>
					<key>BoldContentFontPostScriptName</key>
					<string>HanziPenTC-W5</string>
					<key>ContentFontPostScriptName</key>
					<string>HanziPenTC-W3</string>
					<key>ImageName</key>
					<string>img-font-tc-hanziPen</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<false/>
				</dict>
			</array>
			<key>FontType</key>
			<string>Traditional Chinese</string>
		</dict>
		<dict>
			<key>FontInfo</key>
			<array>
				<dict>
					<key>SystemFont</key>
					<true/>
					<key>FontName</key>
					<string>Hiragino Kaku Gothic ProN</string>
					<key>BoldContentFontPostScriptName</key>
					<string>HiraKakuProN-W6</string>
					<key>ContentFontPostScriptName</key>
					<string>HiraKakuProN-W3</string>
					<key>ImageName</key>
					<string>img-font-hiragino-kaku</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<true/>
				</dict>
				<dict>
					<key>SystemFont</key>
					<true/>
					<key>FontName</key>
					<string>Hiragino Mincho ProN</string>
					<key>BoldContentFontPostScriptName</key>
					<string>HiraMinProN-W6</string>
					<key>ContentFontPostScriptName</key>
					<string>HiraMinProN-W3</string>
					<key>ImageName</key>
					<string>img-font-hiragino-mincho</string>
					<key>Selected</key>
					<false/>
					<key>Download</key>
					<true/>
				</dict>
			</array>
			<key>FontType</key>
			<string>Japanese</string>
		</dict>
	</array>
	<key>FontSize</key>
	<integer>2</integer>
</dict>
</plist>
